<h1>Bem vindo a página de Clientes</h1>

<div><%= link_to "ir para home page", root_path %></div>

<div style="margin-top: 3rem;">
  <%= form_with scope: :any, url: post_something_path do |form| %>
      <%= form.submit 'Enviar algo via POST' %>
  <% end %>
  <turbo-frame id="alguma_coisa">
    <div>Uma informação por enquanto vazia</div>
  </turbo-frame>
</div>
<div style="margin-top: 2rem;">
  <h2>Stimulus</h2>
  <div data-controller="hello">
    <input data-hello-target="name" type="text" placeholder="Digite seu nome aqui">
    <button data-action="click->hello#greet">
      Cumprimentar
    </button>
    <span data-hello-target="output">
    </span>
  </div>
</div>
